
body {
    font-family: 'Montserrat', sans-serif;
    color: #071754;
}

.h2 {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.h3 {
    font-size: 25px;
    font-weight: bold;
}

a:link {
    color: #00acff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
}

.nav-logo img {
    height: 50.77px;
    cursor: pointer;
}

.nav-main {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    line-height: 5rem;
    width: 450px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.nav-btn {
    background-color: #ff3066;
    font-weight: bold;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 9999px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #d8174a;
    transform: scale(1.1);
    font-size: 14px;
}

.section-1 {
    margin-bottom: 100px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-self: end;
    max-width: 500px
}

.banner-h {
    font-size: 41px;
    font-weight: bold;
}

.banner-p {
    font-size: 1.12rem;
    font-weight: bold;
    line-height: 1.75rem;
    max-width: 270px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.banner-btn {
    background-color:#ff3066;
    color:white;
    font-weight: 500;
    border-radius: 9999px;
    padding: 16px 64px;
    max-width: 115px;
    text-align: center;
    transition: all ease-in-out 0.2s;
}

.banner-btn:hover {
    background-color: #d8174a;
    transform: scale(1.02);
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 125px;
}

.banner-image-box {
    display: flex;
    flex-direction: column;
}

.banner-image {
    display: block;
    object-fit: cover;
    height: 400px;
    width: 500px;
}

.banner-image-text {
    font-size: 12px;
    line-height: 1.25rem;
    max-width: 1210px;
    float: right;
    margin-right: 210px;
    color: #838Ba9;
}

.transform-sentence {
    margin: 150px 0px 50px 0px;
    text-align: center;
    display: flex;
    font-size: 30px;
    font-weight: 800;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.yellow-btn {
    border: 2px solid #ffd334;
    border-radius: 9999px;
    background-color: white;
    width: fit-content;
    font-weight: 700;
    font-size: 14px;
    padding: 0.8rem 4rem;
    text-align: center;
    transition: all ease-in-out 0.2s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
}

.yellow-btn:hover {
    background-color: #ffd3344d;
    transform: scale(1.02);

}

.section-2 {
    background-color: #f5f5f8;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}


.people-support-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.support-box-content {
    display: flex;
    width: 560px;
    box-shadow: 0px 3px 5px #d9dae0; 
}

.support-box-text {
    background-color: white;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 30px;
    padding-left: 30px;
}

.find-out-link {
    font-size: 15px;
    color: #071754;
    text-decoration: underline;
}

.support-box-image {
    width: 270px;
}

.section-3 {
    background-color: #f5f5f8;
    padding-top: 120px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.support-today-row {
    display: flex;
    justify-content: center;
}

.support-today-tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 320px;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px;
    box-shadow: 0px 3px 5px #d9dae0;
}

.support-tile-top {
    display: flex;
}

.support-tile-image {
    width: 192px;
    border-radius: 6px 0px 0px 0px;
}

.support-tile-numbers {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 20px;
}

.support-tile-n {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px 5px 0px;
}

.support-tile-n-subtext {
    font-size: 13px;
    font-weight: 500;
    color: #838ba9;
}

.yellow-bar {
    display: flex;
    height: 25px;
    background-color: #ffd3344d;
}

.yellow-bar-full-1 {
    background-color: #ffd334;
    width: 47%;
}

.support-tile-bottom {
    padding: 20px;
}

.support-callout {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}

.pink-text {
    color: #ff3066;
}

.support-callout-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7;
}

.yellow-bar-full-2 {
    background-color: #ffd334;
    width: 42%;
}

.yellow-bar-full-3 {
    background-color: #ffd334;
    width: 16%;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel-content {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 800px;
    width: 100%;
}

.carousel-arrow-left {
    width: 20px;
    height: 20px;
}

.carousel-arrow-right {
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
}

.blue-dot {
    width: 11px;
}

.carousel-grey-dot {
    width: 11px;
}

.section-4 {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 100px;
}

.center-p {
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 1.75rem;
    max-width: 650px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.community-explain {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.community-explain-a {
    display: flex;
    justify-content: center;
}

.community-image {
    width: 224px;
    height: 224px;
    padding: 40px;
}

.yellow-line-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}

.tick-circle {
    background-color: #00acff;
    border-radius: 30px;
    width: 36px;
    height: 36px;

}

.white-tick {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    height: 14px;
    width: 12.25px;
}

.community-text {
    display: flex;
    flex-direction: column;
}

.h4 {
    font-size: 18px;
    font-weight: 700;
}

.p {
    font-size: 16px;
    margin-top: 0.75rem;
}